// body
// 	display flex;
// 	align-items: center;
// 	justify-content center

// ul
// 	display flex

// li 
// 	flex: 1

// .Media
// 	display flex
// 	padding: 20px

// .Media__figure
// 	margin-right 1em

// .Media__body p:first-child
// 	margin-top 0

// .grid__row 
// 	display flex
// 	margin-bottom 2em
// 	flex-wrap wrap
// 	background:red

// .grid_column
// 	flex 1
// 	border 1px solid #e3e3e3
// 	text-align center
// .aside
// 	flex-basis 150px
// .primary
// 	flex-basis 500px	