header,footer
	background #c5c5c5

.container
	display flex
	flex-direction column
	justify-content space-between
	max-width 1000px
	margin auto
	min-height 100%

.container > *
	padding 0 20px

main
	display flex 
	margin-bottom auto
	@media screen and (max-width 768px)
		flex-direction column-reverse
		

main aside
	margin-right 40px